@media (max-width:830px) {
    .container .header {
        justify-content: space-between;
    }

    .container .header .menu-hamburguer {
        width: 30px;
        height: 30px;
        z-index: 2;
    }

    .container .header .menu-hamburguer .hamburguer {
        background-color: #000;
        position: relative;
        display: inline-block;
        width: 30px;
        height: 2px;
        transition: 0.5s ease-in-out;
    }

    .container .header .menu-hamburguer .hamburguer:before,
    .container .header .menu-hamburguer .hamburguer:after {
        background-color: #000;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.2s ease-in-out;
    }

    .container .header .menu-hamburguer .hamburguer:before {
        top: -10px;
    }

    .container .header .menu-hamburguer .hamburguer:after {
        bottom: -10px;
    }

    .container .header .navegation {
        flex-direction: column;
        background-color: hsl(0, 0%, 98%);
        position: absolute;
        justify-content: start;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        padding: 80px 24px;
        display: none;
        z-index: 1;
    }

    .container .header .navegation ul {
        flex-direction: column;
    }

    .container .header .navegation .navegation-content {
        gap: 24px;
    }

    .container .header .navegation .navegation-content li,
    .container .header .navegation .navegation-content li a {
        font-size: 16px;
    }

    .container .header .navegation ul .features,
    .container .header .navegation ul .company {
        align-items: flex-start;
        flex-direction: column;
        width: 100px;
    }

    .container .header .navegation ul .features .features-options,
    .container .header .navegation ul .company .company-options {
        position: relative;
        top: 12px;
        gap: 25px;
        box-shadow: none;
    }

    .container .header .navegation .acess-content {
        padding-top: 40px;
        text-align: center;
        gap: 28px;
    }

    .container .header .navegation ul .company .company-options {
        width: 125px;
    }

    .container .header .navegation ul li .register {
        padding: 12px 65px;
    }

    .container .content {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px 0;
    }

    .container .content .text-content .title {
        font-size: 35px;
        margin-bottom: 18px;
    }

    .container .content .text-content .text {
        font-size: 16.1px;
        line-height: 26px;
        max-width: 345px;
        margin-bottom: 24px;
    }

    .container .content .text-content .button {
        font-size: 16px;
        padding: 15px 22px;
        margin-bottom: 42px;
    }

    .container .content .text-content .brands {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        max-width: 300px;
        margin: 0 auto;
    }

    .container .content .text-content .brands img {
        width: 22%;
    }

    .container .content .desktop {
        display: none;
    }

    .container .content .mobile {
        display: block;
        width: 100%;
    }

    /* STATE ACTIVE */
    .container.active .header::before {
        content: '';
        background-color: hsl(0, 0%, 8%, .68);
        width: 100%;
        height: 90px;
        position: absolute;
        left: 0;
    }

    .container.active .content::before {
        content: '';
        background-color: hsl(0, 0%, 8%, .68);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .container.active .content::after {
        content: '';
        background-color: hsl(0, 0%, 98%);
        width: 60%;
        height: 100%;
        right: 0;
        position: absolute;
    }

    .container.active .header .menu-hamburguer .hamburguer {
        transform: rotate(45deg);
    }

    .container.active .header .menu-hamburguer .hamburguer:before {
        transform: rotate(90deg);
        top: 0;
    }

    .container.active .header .menu-hamburguer .hamburguer:after {
        transform: rotate(90deg);
        bottom: 0;
    }

    .container.active .header .navegation {
        display: block;
    }
}

@media (max-width: 375px) {
    .container .header {
        padding: 0 20px;
    }

    .container .header .navegation {
        gap: 20px;
    }

    .container .header .navegation .navegation-content li,
    .container .header .navegation .navegation-content li a {
        font-size: 14px;
    }

    .container .header .navegation ul li .register {
        padding: 10px 46px;
    }

    .container .header .navegation .navegation-content {
        gap: 15px;
    }

    .container .header .navegation ul .features .features-options,
    .container .header .navegation ul .company .company-options {
        top: 0;
        gap: 10px;
        padding-bottom: 10px;
    }

    .container .header .navegation .acess-content {
        text-align: center;
        gap: 20px;
    }

    .container .content .text-content .brands {
        gap: 15px;
        max-width: 270px;
    }
}